# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Other files
.env
.env.*
!.env.sample
yarn.lock
package-lock.json
@types/auto-imports.d.ts
