// light theme
:root {
  --n-text-color: #{$color-black};
  --n-background-body-color: #e0f8f9;
  --n-background-content-color: #{$color-white};
  --n-box-shadow-color: #2553b91a;
  --n-scrollbar-color: #b0b0b0;
}

// dark theme
html.dark {
  --n-text-color: #{$color-white};
  --n-background-body-color: #16293e;
  --n-background-content-color: #111c2d;
  --n-box-shadow-color: #2553b91a;
  --n-scrollbar-color: #555;
}
