// font
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.5;
$base-font-family: 'Plus Jakarta Sans', sans-serif;

// layout
$base-layout-padding: 20px;
$base-layout-margin: 20px;

// scrollbar
$base-scrollbar-width: 6px;

// color
$base-color-white: #fff;
$base-color-black: #000;
$base-color-primary: #01c0c8;
