// font
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.5;
$base-font-family: 'Plus Jakarta Sans', sans-serif;

// layout
$layout-padding: 20px;
$layout-margin: 20px;

// scrollbar
$scrollbar-width: 6px;

// color
$color-white: #fff;
$color-black: #000;
$color-primary: #01c0c8;
